@charset "UTF-8";
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #ECECEC;
	text-align: center;
	display: block;
	padding: 8px;
}

